<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title || "Scratch" %></title>
</head>
<body>
  <%- include('header', { title: title, user: user }) %>
  <%- body %>
  <%- include('footer') %>
</body>
</html>
